# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pip
Pipfile
Pipfile.lock

# Postman
postman/
.postman/

# Virtual Environment
venv/
.env

# Django
db.sqlite3
staticfiles/
media/

# Migrations cache
*.log

# VS Code
.vscode/

# JetBrains (PyCharm / CLion / IntelliJ)
.idea/

# OS files
.DS_Store
Thumbs.db